*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(245, 242, 242);
}
.nav{
   background-color: lightgray;
   display: flex;
   justify-content: center;
   padding: 15px;
}
.nav .side{
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    color: rgb(58, 57, 57);
    text-decoration: none;
}
.nav .side:hover{
    font-weight: 700;
    color: black;
}
#products{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    
}
#products div img{
    width: 200px;
    height: 200px;
    margin: 10px auto;
}
img{
    height: 200px;
    width: 200px;
}